<%= form_with model: @character do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    Class: 
     <div id='klasses'>

        <%= f.fields_for :character_klasses do |character_klass_attributes| %>
            <label> Class: </label>
            <%= character_klass_attributes.collection_select :klass_id, Klass.all, :id, :name %>

            <%= character_klass_attributes.label :level %>
            <%= character_klass_attributes.text_field :level, class: "form-input form-control" %>
            <br>
       <% end %>
    <br>
    </div>
     <br>

     <%= f.submit %>

<% end %>