<%= form_for @character do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    Class: 
     <div id='klasses'>
        <%= f.fields_for :klasses do |klass| %>
            <label> Class: </label>
            <%= render "klass_fields", :f => klass, collection: @character_klasses %>         
            <br>
       <% end %>
    <br>
    </div>
     <br>

     <%= f.submit %>

<% end %>