<<<<<<< HEAD
<h1><%= @spell.name %></h1>
Level: <%= @spell.level%><br>
<p><%= @spell.desc.tr('[]', '') %></p>
=======
<%= @spell.name %><br>
<%= @spell.level%><br>
<%= @spell.desc[2...-2] %>
>>>>>>> master
